*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg);
    background-attachment: fixed;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .box {
    width: 300px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: filter 0.5s ease-in ,box-shadow 0.3s;
    &:hover{
      box-shadow: 6px 6px 6px 1px rgba(0,0,0, 0.5);
      filter: brightness(1.35);
    }
    &:nth-child(3n) {
    margin-right: 0px;
  }
    
  }
  .container {
    background-color: rgba(0,0,0,0.75);
  }
  
  .preview {
    width: 100%;
  }

  img{
    width:100%
  }
    
  .title {
    display:flex;
    padding: 10px;
    &-img {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border: 0;
      border-radius: 50%;
      margin-right:10px;
     }
    &-chlname {
      color:white;
      width: 150px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-name {
    color: white;
    }
  }