*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg);
    background-attachment: fixed;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .box {
    background-color: rgba(0,0,0,0.75);
    width: 300px;
    box-sizing: border-box;
    margin: 0 16px 20px 16px;
    transition: filter 0.5s ease-in ,box-shadow 0.3s;
    &:hover{
      box-shadow: 6px 6px 6px 1px rgba(0,0,0, 0.5);
      filter: brightness(1.35);
    }
  }
    
  .preview {
    width: 100%;
    height: 168px;
    position: relative;
  }

  img{
    width:100%;
    opacity: 0;
    transition: 1s ease-in;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: url(https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg);
    }
  }
    
  .title {
    display:flex;
    padding: 10px;
    &-img {
      width: 50px;
      height: 50px;
      border: 0;
      border-radius: 50%;
      margin-right:10px;
      opacity: 0;
      transition: 1s ease-in;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url(https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg);
      }
     }
    &-chlname {
      color:white;
      width: 150px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-name {
    color: white;
    }
  }